@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #0f172a;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}